[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/vickylai/hugo-theme-introduction
[submodule "themes/split"]
	path = themes/split
	url = https://github.com/escalate/hugo-split-theme
